#perfil {
  width: 20%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: dodgerblue;
}
p,
a {
  color: white;
  text-decoration: none;
}

.text-description {
  font-size: 22px;
}

footer {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sobre {
  background-color: grey;
}
